body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.titles{
  color: #5095cc !important;
}
.como-funciona p{
  line-height: 1;
}
.home p{
    line-height: 1;
}

.home h3{
  color:#5f788a;
}

.editar-post{
  margin-top: 15px;
}
.card {
  background: #30336b;
}
.equipo {
  background: #30336b;
}


.solicitud{
  margin:20px 0;
  width: 60%;
  padding: 10px;
  border: 2px solid #5095cc;
  border-radius: 2px;
}


#destacado-portada{
  background-image: url('/static/images/foto.jpg');
  background-size: cover;
}

#destacado-portada .lead b{
  background: rgba(255, 255, 255, 1);
  line-height: 1.6em;
}

.card-title {
  color: #000;
}