{% extends 'blog/base.html' %}
{% block content1 %}

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                src="https://images.unsplash.com/photo-1494386346843-e12284507169?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=80"
                class="card-img card-body" alt="..." style="
      max-height: 200px;
      object-fit: cover;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title text-white">DONALO</h1>
                <p class="card-text text-white">Creado para que las personas que tengan en su casa, cosas que ya
                  no usen, las donen.
                </p>
                <p class="card-text text-white">Nuestro principal propósito es ayudar.</p>
                <p class="card-text text-white">Si tienes en tu casa, cosas que creas que pueden ser útiles para otras
                  personas: Donalo </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div id='destacado-portada' class="jumbotron jumbotron-fluid text-center">
          <div class="col-10 text-left mx-auto">
            <p class="lead"><b>CONSUMIR <strong>NO</strong> ES TENER</strong> <br>
                CONSUMIR ES <strong>USAR</strong> <br>
                Y SI NO LO USAS <strong>DONALO</strong> <br>
                NOSOTROS NOS ASEGURAMOS <br> QUE LLEGUE<strong> A QUIEN LO NECESITA</strong> </p></b>
          </div>
        </div>
      </div>
    </div> 
    <div class="row mb-4">
      <div class="col-md-6 pb-2">
        <div class="card">
          <div class="card-header bg-primary text-white">Donar</div>
          <div class="card-body bg-white">
            <h5 class="card-title">Porqué donar?</h5>
            <p class="card-text">Te invitamos a hacerlo Y no esperar nada a cambio. <br>
              Tu recompensa es interna, vas a sentirte bien contigo mismo. <br>
              Porque tu donación, está beneficiando a alguna persona, alguna familia y quedará para siempre!</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-2">
        <div class="card" style="height: 100%;">
          <div class="card-header bg-primary text-white">Donalo</div>
          <div class="card-body bg-white">
            <h5 class="card-title">Te ofrece</h5>
            <p class="card-text">La posibilidad de donar, a cualquier solicitante de una donación. <br>
              Gracias a ésta aplicación, las donaciones son un trámite muy rápido. <br>
            </p>
          </div>
        </div>
      </div>
     
      
    </div>
    <div class="row mb-4">
      <div class="col-sm-12 mb-3">
        <h4>Te contamos como funciona nuestra aplicación:</h4>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Para ingresar, debes registrarte,
            para ello te creas un usuario y contraseña. </li>
          <li class="list-group-item">Desde Solicitar, puedes crear tu solicitud de donación.</li>
          <li class="list-group-item">Al acceder a Solicitudes, tu ves el listado de las solicitudes de
            los usuarios.</li>
          <li class="list-group-item">En el Historial  puedes ver tus  solicitudes de donación y
            tienes la opción de poder editarla.</li>
          <li class="list-group-item">Cuando tu solicitud haya sido elegida, recibiras un mensaje, con los productos que te han donado, y  te pondrás en
            contacto con la plataforma o el mismo donante. </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">

        <img
          src="https://images.unsplash.com/photo-1585511426526-a21c74efa642?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          class="card-img" alt="..." style="object-fit: cover;">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="equipo text-center mt-2">
          <div class="container p-2">
            <h2 class="text-white">AYUDANOS A AYUDAR:</h2>
            <h1 class="text-white">DONALO</h1>
            <p class="text-white">No somos perfectos, pero juntos, SOMOS UN GRAN EQUIPO!!!</p>
          </div>
        </div>
      </div>

    </div>


    {% endblock content1 %}